body {
    background-color: bisque;
}

#connect4 {
    background-color: lightsalmon;
    display: inline-block;
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.next-red {
    background-color: red;
}

.col.red {
    background-color: red;
}

.col.blue {
    background-color: blue;
}

.next-blue {
    background-color: blue;
}